.botao {
  background-color: #6278f7;
  border-radius: 10px;
  font-weight: 700;
  font-size: 14px;
  padding: 14px;
  border: none;
  margin: auto;
  cursor: pointer;
  color: #fff;
}
.botao:hover {
  color: #95ffd4;
}
