.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: rgb(14, 12, 12);
  height: 80px;
  width: 100%;
  max-width: 100%;
}
.header img {
  display: flex;
  width: 100px;
  height: 33px;
  margin: auto;
}

